@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1500px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent-text);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-hover-text);
  }
}

